# Servidor
PORT=3000

# Prisma
DATABASE_URL="file:./dev.db"

# Tuya API
TUYA_BASE_URL=https://openapi.tuyacn.com
TUYA_ACCESS_KEY=seu_access_key
TUYA_SECRET_KEY=seu_secret_key

# Autenticação Webhook PIX
WEBHOOK_USERNAME=usuario_webhook
WEBHOOK_PASSWORD=senha_webhook

# Autenticação API de Devices
DEVICE_API_USERNAME=usuario_device_api
DEVICE_API_PASSWORD=senha_device_api
