# sqlite url
DATABASE_URL="file:./dev.db"

# webhook basic auth
WEBHOOK_USERNAME=
WEBHOOK_PASSWORD=

# device api
DEVICE_API_USERNAME=
DEVICE_API_PASSWORD=

# tuya api
TUYA_ACCESS_KEY=
TUYA_SECRET_KEY=
